In [1]:
from kora.selenium import wd as browser
from selenium.webdriver.common.by import By
import pandas as pd 
import time
from datetime import date,datetime as dt
import datetime
from bs4 import BeautifulSoup
import numpy as np
import re 
from datetime import  timedelta
#from webdriver_manager.chrome import ChromeDriverManager

#driver = browser.Chrome(ChromeDriverManager().install())

#driver.get("http://www.python.org")

#driver.close()

In [2]:
print(datetime.datetime.today())

2022-09-21 19:34:23.410873

In [3]:
print(datetime.date.today())

2022-09-21

In [4]:
td=datetime.date.today()
#td-timedelta(days=5)

In [5]:
dataset_flipkart=[]

In [6]:
for i in range(1,75):
    url=f"https://www.flipkart.com/apple-iphone-13-product-red-128-gb/product-reviews/itm99b5658d148b0?pid=MOBG6VF59ZFEPEBX&lid=LSTMOBG6VF59ZFEPEBXLWTMMU&marketplace=FLIPKART&page={i}"
    browser.get(url)
    xx= browser.find_elements(By.XPATH,"//span[@class='_1BWGvX']")
    for x in range(len(xx)):
        if xx[x].is_displayed():
            browser.execute_script("arguments[0].click();", xx[x])
    """"def click(p):
        try:
            p.click()
        except:
            pass
  
    d_x=[click(x) for x in xx]"""
    containers=[x.get_attribute('innerHTML') for x in browser.find_elements(By.XPATH,'//div[@class="col _2wzgFH K0kLPL"]')]

    for container in containers:
        rev1=dict()
        bsObj=BeautifulSoup(container)
        #heading review 
        review=bsObj.find('p').text
        #print(review)
    

        #review 
        rev=bsObj.find('div',attrs={"class":"t-ZTKy"}).text.strip()
        #print(rev)
        #rating
        try:
            try:
                rating=bsObj.find('div',attrs={"class":"_3LWZlK _1BLPMq"}).text.strip()
                rating=int(float(rating[0]))
            except:
                rating=bsObj.find('div',attrs={"class":"_3LWZlK _32lA32 _1BLPMq"}).text.strip()
                rating=int(float(rating[0]))
        except:
            rating=bsObj.find('div',attrs={"class":"_3LWZlK _1rdVr6 _1BLPMq"}).text.strip()
            rating=int(float(rating[0]))
            
    
        #other info
        try:
            info=bsObj.find("div",attrs={"class":"row _3n8db9"}).text.strip()
            p=r"(\d+ \w+) ago"
            p=re.findall(p,info)[0]
            #p1=r", ([A-Za-z.]+)\d+"
            #print(re.findall(p1,info))
            #p=int(float(p))
            date_rev=p
        except:
            date_rev="no info"
        #print(date_rev)
        rev1["date"]=date_rev
        rev1["rating"]=rating
        rev1["review"]=review+" "+rev
        dataset_flipkart.append(rev1)

In [7]:
df_flipkart=pd.DataFrame(dataset_flipkart)

In [8]:
df_flipkart

          date  rating                                             review
0     2 months       5  Brilliant I switch to ios from android after 1...
1    11 months       5  Fabulous! Amazing beast....As expected , didn'...
2     2 months       5  Worth every penny Day 2 Review: Display shows ...
3     8 months       5  Perfect product! Awesome camera Amazing batter...
4    10 months       5  Must buy! Just upgraded from 11 to iPhone 13 ....
..         ...     ...                                                ...
557   3 months       5                            Awesome Good .READ MORE
558   3 months       5  Classy product So far so good. Better than any...
559   3 months       5       Terrific Nice phone my first iphoneREAD MORE
560   3 months       5  Mind-blowing purchase Mobile was excellent. Th...
561   3 months       5    Terrific Very nice mobile I am happy ðŸ˜ŠREAD MORE

[562 rows x 3 columns]

In [9]:
df_flipkart.date.unique()

array(['2 months', '11 months', '8 months', '10 months', '4 months',
       '6 months', '9 months', '24 days', '3 months', '7 months',
       '1 month', '5 months', '15 days', '29 days', '27 days', '30 days',
       '12 days', '28 days', '7 days', '8 days', '25 days', '2 days',
       '3 days', '17 days', '21 days', '22 days', '26 days'], dtype=object)

In [10]:
def extract(rev):
    f=rev[:-9]
    return f

In [11]:
df_flipkart["review"]=df_flipkart["review"].apply(extract)

In [12]:
df_flipkart

          date  rating                                             review
0     2 months       5  Brilliant I switch to ios from android after 1...
1    11 months       5  Fabulous! Amazing beast....As expected , didn'...
2     2 months       5  Worth every penny Day 2 Review: Display shows ...
3     8 months       5  Perfect product! Awesome camera Amazing batter...
4    10 months       5  Must buy! Just upgraded from 11 to iPhone 13 ....
..         ...     ...                                                ...
557   3 months       5                                     Awesome Good .
558   3 months       5  Classy product So far so good. Better than any...
559   3 months       5                Terrific Nice phone my first iphone
560   3 months       5  Mind-blowing purchase Mobile was excellent. Th...
561   3 months       5             Terrific Very nice mobile I am happy ðŸ˜Š

[562 rows x 3 columns]

In [13]:
df_flipkart.isna().sum()

date      0
rating    0
review    0
dtype: int64

In [14]:
df_flipkart.rating.value_counts()

5    472
4     65
1     12
3     10
2      3
Name: rating, dtype: int64

In [16]:
df_flipkart.to_excel("flipkart_Apple_IPhone_13_20220921.xlsx",index=False)